*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}

