%fullSize {
  width: 100%;
  height: 100%;
}

@mixin flexBox($orientation, $posAlign, $posJustify) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: $orientation;
  flex-direction: $orientation;
  -webkit-box-align: $posAlign;
  -ms-flex-align: $posAlign;
  align-items: $posAlign;
  -webkit-box-pack: $posJustify;
  -ms-flex-pack: $posJustify;
  justify-content: $posJustify;
}

@mixin iphoneSE() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
@mixin iphoneX() {
  @media only screen and (max-width: 375px) {
    @content;
  }
}
@mixin largeMobile() {
  @media only screen and (max-width: 670px) {
    @content;
  }
}
@mixin ipadMini() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin ipad() {
  @media only screen and (max-width: 900px) {
    @content;
  }
}
@mixin smallDesktop() {
  @media only screen and (max-width: 1100px) {
    @content;
  }
}
@mixin desktop() {
  @media only screen and (max-width: 1267px) {
    @content;
  }
}
@mixin largeDesktop() {
  @media only screen and (max-width: 1440px) {
    @content;
  }
}
@mixin extraLargeDesktop() {
  @media only screen and (min-width: 1600px) {
    @content;
  }
}


