.cta {
      background: $c-rawsienna;
      color: $c-white;
      font-weight: 400;
      line-height: 20px;
      margin: $s-large;
      border-radius: $b-primary;
      position:relative;
      cursor:pionter;
      box-shadow: 0 2px  20px rgba(0,0,0,0.4);
      transition: transform .3s ease;

      &::after {
            content: '';
            opacity:0;
            background: rgba(202, 26, 13, 0.6);
            border-radius: $b-primary;
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            z-index:-1;
            transform:scale(0.8);
            transition: transform .5s ease, opacity .3s ease-in-out;
      }

      &:hover::after {
            transform: translateY(-6px);
            transform:scale(1);
            opacity:1;
      }
      

      &:hover {
            transform: translateY(-6px);
      }
}

.cta.primary {
      padding: $s-primary;
}
.cta.large {
      padding: $s-primary $s-primaryL;
}