.header {
  width: 100%;
  height: 50px;
  margin: $s-primary 0;
  @include flexBox(row, center, center);
  position: relative;
  z-index:1;

  .header__menu {
    display: none;
  }

  .header__logo {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: $s-primary;
    right: auto;
    bottom: auto;
    color: $c-white;
    transition: color 0.5s ease;

    &:hover {
      color: $c-rawsienna;
    }
  }

  .header__nav {
    display: grid;
    grid-gap: $s-basic;
    grid-template-columns: repeat(4, 1fr);
    color: $c-white;
    font-weight: 400;
  }

  .header__nav--mobile {
    grid-template-columns: repeat(1, 1fr);
    background: $c-rawsienna;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    right: auto;
    bottom: auto;

    .header__nav--item {
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  .hide {
    display: none;
  }

  .cta {
    position: absolute;
    top: -100%;
    right: $s-primary;
    left: auto;
    bottom: auto;
  }
}

@include ipad() {
  .header {
    background: $c-rawsienna;
    margin: 0;

    .header__logo {
          padding: 0.3rem 0;
          font-size:1.6rem;
    }

    .header__menu {
      display: block;
      color: $c-white;
      font-size: 2rem;
      position: absolute;
      top: 0.7rem;
      right: $s-primary;
      left: auto;
      bottom: auto;
    }
    .header__nav {
      padding: $s-primary 0;
    }
    .header__nav--item {
      position: relative;
      transition: transform .5s ease, opacity .3s ease-in;
      animation: navItemAppear 1s .5s 1 both;
      .cta {
        height: 100%;
        width: 60%;
        margin: 0 auto;
        top:-30%;
        right: 8rem;
        border-radius: 6px;
        padding: $s-primary;
        box-shadow: none;
        font-weight: 600;
        background: #242424;
        bottom: $s-primary;

        &::after {
          border-radius: 6px;
          background: rgb(17, 175, 115);
        }
      }
    }
  }
}

@keyframes navItemAppear {
  0% {
    opacity:0;
    transform: scaleY(0);
    transform:scale(0.5);
  }

  100% {
    opacity:1;
    transform: scaleY(1);
    transform:scale(1);
  }
}