.heroSection {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  @include flexBox(column, center, center);

  #bgAutoplay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .heroSection__target {
    position: absolute;
    transform: translateY(-10%);
    color: $c-white;
    text-align: center;
    font-weight: 600;
    @include flexBox(column, center, center);

    h2 {
      font-size: 3rem;
      letter-spacing: 4px;
      margin: $s-basic 0;
    }

    span {
      font-size: 1.7rem;
      line-height: 30px;
      font-weight: 400;
      transition: transform 1s ease-out;
      animation: blurEffect 1s 1.5s 1 both;
    }

    .cta {
      width: 50%;
    }
  }
}

@keyframes blurEffect {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@include iphoneX() {
  .heroSection .heroSection__target h2 {
    font-size: 2.5rem;
  }
}
