.testemonials {
      position:absolute;
      top:310%;
      left:0;
      right:auto;
      bottom: auto;
      width:100%;
      min-height:100vh;
      font-size: 1.3rem;
      color: #000;
      font-weight: 100;
      text-align: left;
      margin: $s-large 0 0 $s-primary;
      padding: 0 2rem;

      h2 {
            color: rgb(65, 105, 216);
            font-weight: 100;
            font-size:1.3rem;
            margin: $s-primary 0 $s-basic 0;
      }

      h3 {
            margin: 0 0 $s-basic 0;
      }

      .testemonials__content--icon {
            font-size:2.5rem;
            margin: $s-primary;
      }

      .testemonials__content--icon.blue {
            color:rgb(65, 105, 216);
      }

      .testemonials__content--icon.red {
            color:rgb(196, 33, 33);
      }

      .testemonials__content--left {
            max-width:50%;
            height:100%;
            display:grid;
            justify-items:last baseline;
            grid-template-columns: repeat(2, minmax(250px, 1fr));
            padding: 0 $s-primary;

            p {
                  width:80%;
                  font-size: 1rem;
                  font-weight: 400;
                  font-style: italic;
                  margin: $s-primary 0;
            }
      }

      .testemonials__content--right {
            min-width: 550px;
            display: grid;
            grid-gap: $s-primary;
            grid-template-columns: repeat(2,1fr);
            height:100%;
            position: absolute;
            top:0;
            right:0;
            left:auto;
            bottom:auto;
            margin:$s-basic $s-large 0 0;

            .testemonials__image {
                  max-height:400px;
                  border: $b-primary;

                  img {
                        border: $b-primary;  
                  }
            }
      }
}