.tripsSection {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  bottom: auto;
  font-size: 2.6rem;
  color: #000;
  font-weight: 600;
  text-align: center;

  h2 {
    margin: $s-large 0;
  }

  .tripsSection--wrapper {
    width: 80%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-gap: $s-basic;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    margin: 0 auto;

    .tripsSection__box {
      border-radius: $b-primary;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
      position: relative;
      width: 300px;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.03);
      }

      .tripsSection__box--image {
        filter: brightness(0.65);
      }

      .tripsSection__box--info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.1rem;
        font-weight: 400;
        color: $c-white;
        @include flexBox(column, center, flex-end);

        span {
          margin: 0 20px;
          transition: transform 0.5s ease-out;
          animation: locationFrames 1s 1.5s 1 both;
        }

        .tripsSection__box--icon {
          font-size: 2rem;
        }

        .cta {
          min-height: 50px;
          width: 180px;
          font-size: 1rem;
        }
      }

      div {
        border-radius: $b-primary;
        width: 100%;
        min-height: 350px;
        padding: $s-primary;
      }
    }
  }
}

@include extraLargeDesktop() {
  .tripsSection .tripsSection--wrapper {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@include desktop() {
  .tripsSection .tripsSection--wrapper {
    width: 100%;
  }
}

@include smallDesktop() {
  .tripsSection .tripsSection--wrapper {
    grid-template-columns: repeat(2, 1fr);

    .tripsSection__box {
      width: 90%;
      height: 500px;

      div {
        min-height: 100%;
      }
    }
  }
}

@include ipadMini() {
  .tripsSection .tripsSection--wrapper {
    grid-template-columns: repeat(1, 1fr);

    .tripsSection__box {
      .tripsSection__box--info {
        font-size: 1.7rem;

        .cta {
          width: 190px;
          height: 60px;
        }
      }
    }
  }
}

@keyframes locationFrames {
  from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 100%;
  }

  to {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 100% 100%;
  }
}
